{
  "semi": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "tabWidth": 2,
  "useTabs": false
}
